input.fbinput {
    background-image: url(/images/fbshare.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
    width: 80px;
    height: 35px;
}
